*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: flex;
    flex-direction: column;
    width: 50%; */
    position: relative;
    left: 50%;
    transform: translate(0, 0);
    background-color: grey;
    width: 20%;
    transform: translate(-50%, 0);
    


}

.todolist{
    list-style: none;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    padding-block: 10%;
    
}